.App {
  width: 100%;
  min-height: 100%;
}

.bg-dark-blue {
  background-color: #0A1929;
}

.bg-dark-red {
  background-color: #290A12;
}

.light-blue {
  color: #007FFF;
}

.light-red {
  color: #FF0055;
}

#title {
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#title h1 {
  margin: 0;
}

#footer {
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#footer p {
  margin: 0;
}
