:root {
  --darkBlue: #0A1929;
  --semiDarkBlue: #0F263E;
  --semiLightBlue: #0059B2;
  --lightBlue: #007FFF;

  --darkRed: #290A12;
  --semiDarkRed: #3E0F1B;
  --semiLightRed: #B2003B;
  --lightRed: #FF0055;

  --transition-duration: 0.3s;
  --transition-border-duration: 0.2s;
  --transition-timing-function: linear;
  --trainstion-delay: 0s;
}


.App {
  width: 100%;
  min-height: 100%;
  align-items: center;
  display: flex;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay);
}

.bg-dark-blue {
  background-color: #0A1929;
}

.bg-dark-red {
  background-color: #290A12;
}

.light-blue {
  color: #007FFF;
}

.light-red {
  color: #FF0055;
}

#title {
  width: 100%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

#title h1 {
  margin: 0;
}

#footer {
  width: 100%;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

#footer p {
  margin: 0;
}

svg {
  width: 0.8em !important;
  position: relative;
  margin: 3px;
  left: -3px;
}

.btn-blue {
  font-weight: bold !important;
  font-size: 0.8em !important;
  color: var(--semiLightBlue) !important;
  background-color: var(--darkBlue) !important;
  border: 1px solid var(--semiLightBlue) !important;
  border-radius: 15px !important;
  width: 100% !important;
  height: 30px !important;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}
.btn-blue:hover {
  background-color: var(--semiDarkBlue) !important;
  border: 2px solid var(--lightBlue) !important;
}
.btn-blue:active {
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

.btn-red {
  font-weight: bold !important;
  font-size: 0.8em !important;
  color: var(--semiLightRed) !important;
  background-color: var(--darkRed) !important;
  border: 1px solid var(--semiLightRed) !important;
  border-radius: 15px !important;
  width: 100% !important;
  height: 30px !important;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}
.btn-red:hover {
  background-color: var(--semiDarkRed) !important;
  border: 2px solid var(--lightRed) !important;
}
.btn-red:active {
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

#label-turn {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
#label-turn p {
  text-align: center;
  margin: 0;
  width: 100%;
}

.game-table-blue {
  padding: 0 !important;
  color: var(--semiLightBlue) !important;
  background-color: var(--darkBlue) !important;
  border: 1px solid var(--semiLightBlue) !important;
  border-radius: 15px !important;
  width: 100% !important;
  height: 126.66px !important;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}
.game-table-blue:hover {
  background-color: var(--semiDarkBlue) !important;
  border: 2px solid var(--lightBlue) !important;
}
.game-table-blue:active {
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

.game-table-red {
  padding: 0 !important;
  color: var(--semiLightRed) !important;
  background-color: var(--darkRed) !important;
  border: 1px solid var(--semiLightRed) !important;
  border-radius: 15px !important;
  width: 100% !important;
  height: 126.66px !important;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}
.game-table-red:hover {
  background-color: var(--semiDarkRed) !important;
  border: 2px solid var(--lightRed) !important;
}
.game-table-red:active {
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

.game-table-disabled {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: 'none' !important;
  border-radius: 15px !important;
  width: 100% !important;
  height: 126.66px !important;
  cursor: not-allowed;
  pointer-events: none;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}

.gradient {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}

.gradient-disabled {
  opacity: 0.0;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}

.gradient-blue {
  background-color: var(--lightBlue) !important;
  background-image: linear-gradient(to top left, var(--semiLightBlue), var(--lightBlue)) !important;
  opacity: 1.0;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}

.gradient-red {
  background-color: var(--lightRed) !important;
  background-image: linear-gradient(to top left, var(--semiLightRed), var(--lightRed)) !important;
  opacity: 1.0;
  transition: color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    background-color var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    opacity var(--transition-duration) var(--transition-timing-function) var(--trainstion-delay),
    border var(--transition-border-duration) var(--transition-timing-function) var(--trainstion-delay) !important;
}